@font-face {
    font-family: 'lemon';
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/gotham/GothamRounded-Book.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'gotham', sans-serif;
    background-color: #111111;
}

/* cabeçalho */

/* texto */

p {
    font-family: 'gotham';
    font-size: 18px;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 17vh;
    left: 2rem;
}

/* imagens  */

#logo {
    width: 250px;
    position: relative;
    bottom: 8vh;
}

#formata {
    width: 950px;
    position: absolute;
    right: 5rem
}

/* Formatação das imagens social */

.social {
    width: 150px;
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 3vh;
    left: 4rem;
}

.social a {
    margin: 0;
}

.social-icon {
    width: 33px;
}

/* cronometro */

.days {
    display: inline;
    position: relative;
    top: 8rem;
    right: 30px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.horas {
    display: inline;
    position: relative;
    top: 8rem;
    left: 20px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.min {
    display: inline;
    position: relative;
    top: 8rem;
    left: 60px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.seg {
    display: inline;
    position: relative;
    top: 8rem;
    left: 75px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.countdown {
    display: flex;
    position: relative;
    color: #fff;
    margin-right: 1380px;
    margin-top: 110px;
    padding: 100px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

span {
    color: darkcyan;
}

/* Fim cabeçalho */